name: CI / SonarCloud Scan

on:
  push:
    branches: [devops-CI-testing, main]

permissions:
  contents: read
  actions: read
  id-token: write

jobs:
  sonarcloud-quality-gate:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout code
        uses: actions/checkout@v3

      # 2️⃣ Set up JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # 3️⃣ Build and run tests with Gradle
      - name: Build and run tests
        run: ./gradlew clean build

       # 5️⃣ SonarCloud Scan
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=RADhaigude_invoice-generator-react
            -Dsonar.organization=radhaigude
            -Dsonar.sources=.
            -Dsonar.exclusions=node_modules/**,coverage/**,build/**,dist/**,**/*.spec.ts,**/*.spec.tsx,**/*.test.ts,**/*.test.tsx,**/*.test.js
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info


          curl -H "Content-Type: application/json" -d "$payload" "$WEBHOOK_URL"



